body {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 0;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
}


.up_down {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background: none;
    text-align: left;
    height: 100vh;
    width: 100vh;
}
.right_left{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background: none;
    text-align: center;
    height: 100vh;
    width: 80vh;
}

.range{
    border: 5px solid #dcdcdc;
    text-align: center;
    font-family: 'Inter';
    font-size: 70px;
    font-weight: 600;
    width: 80%;
    height: 20%;
    place-self: center;
    background-color: #afafae;
    opacity: 30%;
}
#left,#right,#reverse,#forward{
  background-color: #ff7b00;
  border-radius: 20px;
  border: 2px solid #dcdcdc;
  cursor: pointer;
  color: #000000;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  height: 100%;
}




#forward:active,#right:active,#left:active,#reverse:active {
    background-color: red; /* zmień kolor tła trójkąta po naciśnięciu */
}
